<h1>New Participant Form</h1>
<p>Please enter the name and email id of the new participant. Have fun!</p>
<form action="/" method="post" accept-charset="utf-8">
  <input type="text" name="name" value="Name of participant..." id="name">
  <input type="text" name="email" value="Email id..." id="email">
  <input type="submit" value="...add the record!">
</form>